.booking-policy-page {
    max-width: 900px;
    margin: 60px auto;
    padding: 40px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    font-family: sans-serif;
  }
  
  .booking-policy-header h1 {
    font-size: 2.6rem;
    text-align: center;
    color: #cda508;
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: 0 0 8px rgba(205, 165, 8, 0.6);
  }
  
  
  .booking-policy-header p {
    text-align: center;
    font-size: 1.7rem;
    color: #292727;
    margin-bottom: 30px;
  }
  
  .booking-policy-list {
    list-style: none;
    padding: 0;
  }
  
  .booking-policy-list li {
    display: flex;
    align-items: flex-start;
    background: #f9f9f9;
    padding: 15px 20px;
    border-radius: 12px;
    margin-bottom: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
  }
  
  .booking-policy-list li:hover {
    background-color: #fff8e1;
    transform: translateY(-2px);
  }
  
  .bullet-icon {
    color: #cda508;
    font-size: 1.4rem;
    margin-right: 15px;
    margin-top: 3px;
    flex-shrink: 0;
  }
  
  .booking-policy-list span {
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
  }
  