/* EnquiryNow.module.css */
.enquiryContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
  }
  
  .formBox {
    background: white;
    padding: 30px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .input,
  .textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .textarea {
    height: 80px;
    resize: none;
  }
  
  .submitButton {
    background: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .submitButton:hover {
    background: #0056b3;
  }
  